.card:hover{
    transform: scale(1.05);
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.card-title {
    background-color:  rgba(0,0,0,.15);
    margin-left: -12px;
    margin-right: -12px;
}